[2014-04-10 18:52] mikeumus opened #1 "Hangouts on Air"
_The following post is maintained by the community:_

Hey everyone! We occasionally run online meetings for the Bevry community, as a chance to discuss the latest going on and to move things forward together.
## Bevry Team Setup Guide
1. Logging into the Bevry Google+ Page
2. Going to [this url](https://plus.google.com/b/100631142988286661025/hangouts)
3. Clicking the `Start a Google Hangout on Ai

[2014-04-11 14:09] RobLoach commented on #1
Bi-weekly on #Docpad might be a good start. If we just start _something_, we can iterate to improve it over time. http://doodle.com is a handy tool to find when people are available.

[2014-04-11 15:13] balupton commented on #1
/cc @stongo

[2014-04-11 15:30] RobLoach commented on #1
I added three different time slots in EST. We'd likely have to change the times to accomodate our vast time differences, however: http://doodle.com/wi7xf4m5itg3gbnk

Feel free to add your times so that we could schedule this. It's based on the next couple weeks.

[2014-04-12 02:58] mikeumus commented on #1
Doodle done.

Hey @pflannery, when's good for you? Use the Doodle link above!

[2014-04-14 13:26] balupton commented on #1
All replied. So let's proceed with that 11am (sydney time) slot for me?

Then perhaps you guys can do your own with @stongo for the 6am slot?

[2014-04-14 21:53] mikeumus commented on #1
Works for me :+1:

[2014-04-15 02:40] balupton commented on #1
Catchup 1 a job well done :-)

[Youtube](https://www.youtube.com/watch?v=Ejzc7V65Feg&list=UUDh-MCltU7QCrFvXMt3p8jw)
[Google Doc](https://docs.google.com/document/d/160tEIzOq4jNkABVEqrrueRULTUoXAE29sucerDXFyS8/edit)

[2014-04-15 03:14] mikeumus commented on #1
:+1:  :+1:

[2014-04-15 18:28] stongo commented on #1
Thanks for sharing the stream. Watched the first bit and will watch the
rest later, but here's an initial thought
I agree with Ben that abstracting actions is the best first step
forward. Second to that, being able to register new actions would
compliment this. That way plugins, including servers for example, could
register their own action, as Ben hinted as "express" for base server.
As a final i

[2014-04-15 23:17] mikeumus commented on #1
@stongo, yeah expanding the CLI would be cool. We could add a lot of power there.

Also Ben and I were chatting about using/expanding @RobLoach's DocPad Yeoman generator so that we don't have skeletons and plugins breaking all the time. Less work for us. This sounds like a priority for me: https://github.com/RobLoach/generator-docpad

I'm focusing on the new DocPad homepage and it's new marketing

[2014-04-15 23:19] mikeumus opened #2 "DocPad Marketing message"
I'm focusing on the new DocPad homepage and it's new marketing messages. I need to know more about the awesomeness that is the taskgroup, bal-util, joe so that I can speak succinctly on them. I'll already be speaking on the approach that DocPad is taking by having everything be small pieces and products of their own and the ability to swap out so much of DocPad. How it can be a SSG and also a robu

[2014-04-16 15:21] RobLoach commented on #1
@mikeumus @balupton Apologies for not being able to make it. I was caught off-guard and didn't expect it to be the Monday of. You two missed having my support, and I definitely am on board for contributing all that's possible.

Well done on the conversation. I found it extremely motivating and was great to get a bit more context into where everyone would love to see things go. I found myself agree

[2014-04-16 18:32] mikeumus commented on #1
Honestly Ben caught me a little off guard as well when he asked me if I was ready on Skype but this brings up an important topic as well of doing things now and not lagging at all. Especially on a huge important project like DocPad where so many people benefit. Ben knows, and I agree, that the more voice/round-table meetings we have (daily) the more productive we'll be as a team and the sooner we'

[2014-04-17 01:18] balupton commented on #1
Let's just lock them in as daily, starting at 11am Sydney time for organisation, and kicking off at 11.30am each day on YouTube. The more we do them, the shorter they'll be.

[2014-04-17 06:58] balupton opened #3 "Bevry needs your funding!"
_Update: as funds are nearing their end, @balupton is on the lookout for consulting work_

Bevry has currently been sponsor-less since late March. Myplanet, our previous sponsor, has had to focus their funds on other important priorities, which is totally okay. They're still awesome.

That said, I have about at most 2 weeks left before my funds run dry. I have been exploring employment opportuniti

[2014-04-17 12:59] balupton commented on #1
I've updated the original post with the latest info. Let's use further comments on this issue only for feedback relating to to the process of the hangouts.

[2014-04-17 13:15] stongo commented on #1
Sorry I can't make the 11am AEST time-slot. I guess I should be trying to watch the youtube streams and post commends in Hangout group?

[2014-04-17 13:34] balupton commented on #1
@stongo no worries. I noticed the only slot you could do is the 6am Sydney time slot. I'm pretty sure @mikeumus and @RobLoach are happy doing that time in addition, the frequency is up to them. But totally cool to have multiple catchup sessions.

[2014-04-17 13:34] balupton commented on #1
For everyone, I'm considering making a new Google account that we can use for the hangouts. So that way, if I'm not available, another owner can still proceed with adding a video to the official account.

[2014-04-17 13:40] mikeumus commented on #1
@balupton, making an account like that would allow me to come in after and do some post-production as well with YouTube's video popovers etc...  We should be posting videos on a official Bevry channel anyways.

[2014-04-17 16:10] balupton opened #4 "Action System (Project Management Tool)"
Let's use this issue to discuss feedback related to our action system.

In the morning I'll add our decisions about trello, huboard, github issues, basecamp, google docs, and finally workflowly here.

A todo for us out of this is:
- add details about our action system and daily hangouts to the Bevry docs
- and where should that aforementioned task go, as an issue here, or on the Bevry docs repo, o

[2014-04-17 16:12] balupton opened #5 "Setup a Bevry YouTube channel?"
Todo: fill this out with the pros and cons.

[2014-04-17 16:13] balupton opened #6 "Use tumblr for our blog?"
Will fill out pros and cons tomorrow.

[2014-04-17 16:14] balupton commented on #2
+1, although I'm unsure if this is still the right place for this issue. Happy to add this to the queue for tomorrow's catchup

[2014-04-17 16:18] balupton commented on #1
Cool. Created #5 for discussion about that.

One thing to add to our agenda is refine our priorities inside workflowly, and get the others setup with it.

Personally, I feel our big technical priorities are:
- fixing bugs — @RobLoach ???
- abstracting out plugin system into [plugin-engine](https://github.com/bevry/plugin-engine) — @balupton
- unifying the websites — @balupton @mikeumus
- new blog

[2014-04-17 16:36] mikeumus commented on #6
I vote yes for now while everything is shifting so much. Much better to he quick/dirty and have a blog than not right now.

[2014-04-17 16:36] mikeumus commented on #5
I vote Yes.

[2014-04-17 16:40] mikeumus commented on #4
Personally I like the thought of Huboard with Basecamp for core members to have a "private-lounge" for organization.

We also talked about trying out any of the above tools/workflows for a week and seeing how it goes. That is until we find something that works nicely and then we should stick with that so we don't become a group that tests collaboration tools.

[2014-04-17 16:43] mikeumus commented on #2
There have been other issues discussing this topic before. We should reference those old issues in the meta issue and close all the old ones to consolidate.

[2014-04-17 16:52] mikeumus opened #7 "#RealTalk"
Read this post on Zapier's blog about the company Hudl using being "Respectfully Blunt" as a form of eliminating waste. I know were an open-source team and not a traditional company but I still say we adopt this as a policy so that no time is wasted beating around the bush. This parallels the idea of having daily catchup hangouts as well, being that we need to to do things now and not later and al

[2014-04-17 17:31] mikeumus opened #8 "Loomio"
Hey Everyone,

We're trying out @loomio to help us visualize our decentralized decission making process with the goal of streamlining the proposal process.

Our loomio community is at: https://www.loomio.org/g/Jk3fRyU9/bevry

Our first loomio discussion is at: https://www.loomio.org/d/qnDXSrG5?proposal=10367

This issue will serve for discussion about using loomio.

[2014-04-17 20:28] mikeumus commented on #6
See loomio poll:
https://www.loomio.org/d/qnDXSrG5?proposal=10367

[2014-04-17 20:30] Naatan commented on #3
I've added my 1000 cents worth, though I think it will be difficult to meet targets unless you find some big investors.

It would be nice to know how much of your efforts will be spend on segmenting DocPad into smaller community-managed libraries. At least I believe that's what the main idea was (can't seem to find the original discussion on this).

[2014-04-17 22:23] Naatan commented on #3
Looking at gittip - I have to wonder whether this platform might not be a bit too young for you to depend on which such a significant sum of money. The entire platform is only processing about 10k per week. I know kickstarter is not ideal because it's just a one-time investment type of deal but it might be enough to "kickstart" (that was totally not intentional) funding for DocPad. For that to wor

[2014-04-17 22:26] mikeumus commented on #3
@Naatan, I'm working on raising early-stage/seed money for @docport and trying to convince @balupton that this is a sustainable and ever-missing piece of DocPad's ecosystem. My plan to simply to raise the money and return with it and save the day. I'll let you know how that goes.

[2014-04-17 22:28] Naatan commented on #3
Interesting, will keep an eye on @docport. I assume this is intended as a service around docpad, not some type of fork?

[2014-04-17 22:30] mikeumus commented on #3
correct, it's a DocPad PaaS building in parallel to @webwrite. It's basically WebWrite.

[2014-04-18 01:53] balupton commented on #4
https://workflowy.com/shared/eef6cfec-7f0c-b185-49d1-20b047452d42/

[2014-04-18 10:29] balupton commented on #8
Seems nifty.

I hate how it doesn't let you edit your comments, and how there is a character limit on your positions (but not on comments). They should let you edit everything, as typos and kurtness are also evident in the first publish, and they should let you post long position statements with a "read more" link if size is an issue.

Will be interesting to see how it pans out. As currently, a co

[2014-04-18 10:37] balupton commented on #7
There's a word for Respectfully Blunt, it's kurt.

Honestly, I think while it is easy to be blunt, and it is more efficient, the damage done to people's personalities makes it ineffective.

The book "How to win friends and influence people" written about 100 years ago, still rings true for this exact point today. It covers countless examples where putting in a little bit more effort, while less ef

[2014-04-18 10:43] balupton commented on #7
Going to close, as this is something I've taken great care to foster within Bevry over the years, which foundations are evident in the essence of our support guidelines: http://bevry.me/learn/bevry-support-guidelines

[2014-04-18 10:43] #7 closed, assigned to nobody

[2014-04-18 10:56] balupton commented on #2
The only issue I can recall dedicated to DocPad's marketing is this one: https://github.com/docpad/website/issues/49

With other issues covering marketing as digressions, or in the case of https://github.com/bevry/docpad/issues/820 a user "bug report"

So suggestion here is to close this meta issue in favour of the website issue.

[2014-04-18 11:59] dimitarkolev commented on #3
I very much like the idea behind http://www.blender.org/foundation/development-fund/ is monthly subscription with no obligations from the developers of the project. I mean that donations does not give you any power to change their plans, but just let them do their job. Is there a subscription option via PayPal, i don't like using gittip for direct cc payments.

[2014-04-18 12:00] balupton opened #9 "Manifestos"
To avoid some recurrent conflicts from arising again and again, as well as to set a clear vision for Bevry and its projects going forward, and our key advantages and distinguisments of what makes us different than the rest, from a product and community and decision making perspective, I've begun work on the manifestos for Bevry, DocPad, and Interconnect.
- [Bevry Manifesto](https://docs.google.com

[2014-04-18 17:04] mikeumus commented on #7
So you've read the book too. Three generations of my family has read that book and it's very foundational for me as well. I think the main take away of #Realtalk is to be clear with people and don't tell someone something is fine when it's really not and then it slips, but mix in a little HTWFAIP to deliver that message correctly/effectively/politely.

[2014-04-18 17:12] mikeumus commented on #8
Hey @balupton, what I already did was delete comments that weren't on-topic. This can be used in this version of @loomio as a editing feature as well where you delete any comments and repost and the edited version. You voted "block" on the blog decision but I think block means the thing being decided upon is irrelevant or "the powers that be" are blocking voting. Does it let you submit a alternati

[2014-04-18 17:28] mikeumus commented on #2
:+1:

[2014-04-18 17:28] #2 closed, assigned to mikeumus

[2014-04-18 17:35] mikeumus commented on #9
:+1:

[2014-04-19 01:00] balupton commented on #5
Another aspect to this is a google calendar that people can subscribe to. Discussed in Catchup 3:
https://docs.google.com/document/d/1IbXILjh_FW6jRtUFNbv5V96whF8mgXA8t3qchZtojOg/edit?usp=sharing

[2014-04-19 01:51] mikeumus commented on #5
Yeah, we can create that calendar from the bevry@gmail or whatever the common Bevry Google Apps account is.

[2014-04-19 01:51] balupton commented on #1
New time poll https://doodle.com/z9rc9ri4pusrd6fe

[2014-04-19 06:58] mikeumus commented on #8
Article by Rich Decibels(@rdbartlett) from @loomio: "5 Tips for Making Better Decisions With Your Team" under _Future of Collaboration_ https://medium.com/future-of-collaboration/20357719e9b1

[2014-04-20 02:00] balupton commented on #7
@mikeumus +1

[2014-04-20 02:30] mikeumus commented on #1
As per today's Catchup5 Hangout, we have the idea to mix up the topics of our hangouts so that everyday isn't just shop talk. Ideas are as follows:

_Moved to: https://github.com/bevry/meta/issues/12#issuecomment-42093164_

[2014-04-21 04:11] mikeumus commented on #6
@loomio was a success in helping us choose Tumblr as an immediate and official blogging platform for DocPad and Bevry. Thank you for everyone that participated in the loomio pooling.

[2014-04-21 04:11] #6 closed, assigned to nobody

[2014-04-21 04:12] mikeumus commented on #5
Ben has this account ready which we'll be creating our official @Bevry Catchups YouTube channel and Google Calendar events starting tomorrow.

[2014-04-21 04:12] #5 closed, assigned to balupton

[2014-04-21 10:17] pflannery commented on #4
Have you guys considered using Youtrack? http://www.jetbrains.com/youtrack/
I've seen it used for other projects in the open source domain and works well for them

[2014-04-21 16:57] mikeumus commented on #4
Looks pretty cool. Free for 10 users. Have you used it before @pflannery? Do you know if the projects can be made public urls for everyone to view?

[2014-04-21 17:08] mikeumus opened #10 "Discourse"
@balupton and I have been discussing trying out @discourse as a place for people to discuss idea/features/bugs for Bevry projects. @newrelic announced their new forum today, which is using discourse: https://discuss.newrelic.com/t/discourse-question-how-did-you-modify-it/1024

Another interesting fact that @discourse doesn't use GitHub issues. Let's discuss using discourse here.

[2014-04-21 17:21] balupton commented on #3
I've added our bitcoin address to each of our gittip pages

[2014-04-21 17:24] mikeumus commented on #3
:+1: :moneybag:

[2014-04-21 21:40] pflannery commented on #4
Yes all projects must be public to qualify for the free 10 user license.
I use it to report issues when Im working with Umbraco 7 here - http://issues.umbraco.org/issues

[2014-04-21 21:53] mikeumus commented on #4
How's your experience with it thus far @pflannery and how long have you been using it?

[2014-04-22 07:47] balupton commented on #3
http://refresh.bevry.me/ now has a live amount of how much we are receiving

[2014-04-22 07:49] dimitarkolev commented on #3
Do you plan adding pay pal subscription as a donation option?

[2014-04-22 09:25] balupton commented on #3
@dimitarkolev turns out there should be a check box when you click "Donate via Paypal" to make it recurrant on your own terms: https://www.dropbox.com/s/vqrqbvit7uwo5o7/Screenshot%202014-04-22%2019.24.40.png

[2014-04-22 09:32] dimitarkolev commented on #3
10x (dont know why i didn saw it) i hope you will manage to reach your goals.

[2014-04-22 23:26] RobLoach commented on #10
++

[2014-04-23 15:01] balupton commented on #10
Would love to try this. I actually setup a discourse forum as an attempt to this, but found the management and setup of it cumbersome. Would love a wordpress.com like setup experience for it. Or if someone else wants to give it a go, I'm up for that too.

[2014-04-23 15:02] balupton commented on #10
I would see discourse as a middle ground between stack overflow and github issues

[2014-04-23 15:59] balupton commented on #1
I will be unavailable to run or participate in the catchup sessions until the Thursday of next week. If someone else can take over during period that would be great!

[2014-04-23 17:00] greduan commented on #1
I was wondering why there weren't any catchup sessions in these last couple of days.

I personally can't organize these, mainly because of my internet speed, and I don't feel like I'm qualified. lol

[2014-04-24 16:41] greduan commented on #1
Something we can discuss maybe as an option? https://waffle.io/

[2014-04-25 03:17] mikeumus commented on #1
We've already dicussed and tried Waffle.io. It was clunky and the UI/UX isn't the best.
@huboard was what we favored: https://huboard.com/bevry/docpad

p.s. Just got back from DC, ready for doing Catchups again.

[2014-05-01 05:06] balupton commented on #3
Just added a stripe credit card payment form to http://refresh.bevry.me/#donate

[2014-05-02 14:35] balupton opened #11 "Fortnightly Hackathons"
Let's kick off hackathons each second weekend.
## Hackathon Format
- Starts at 12pm Saturday Sydney Time, and continues until the end of Sunday for each person
- There will be a hangout on air and google drive document to set the goals and get the community participating
- Specific IRC channel to be announced later
- While there will be a specific focus, you are also free to hack on whatever you w

[2014-05-02 15:38] mikeumus commented on #11
_Love this idea._ :heart_eyes:

[2014-05-03 01:38] balupton opened #12 "Special Hangout Formats"

[2014-05-03 01:38] ahdinosaur commented on #11
also love this idea. :+1:

[2014-05-03 01:40] greduan commented on #12
Just to add an idea for this. Make a 1 hour hangout where we only talk with text chat, or in another hangout which is private but it's being aired. On April Fools day or just any day.

And post it as an "IMPORTANT!" link somewhere with exposure. :)

[2014-05-03 01:42] balupton commented on #12
@mikeumus's suggestions from https://github.com/bevry/meta/issues/1#issuecomment-40886117

As per today's Catchup5 Hangout, we have the idea to mix up the topics of our hangouts so that everyday isn't just shop talk. Ideas are as follows:
- Certain days should be issue house cleaning days and there should be braindump days as well were you cover in detail a piece of DocPad.‏ ‎As much as we want to

[2014-05-03 02:16] balupton commented on #3
Also, if you're on Gittip, feel free to join our Gittip Communities for the services you use:
- https://www.gittip.com/for/bevry/
- https://www.gittip.com/for/startup-hostel/
- https://www.gittip.com/for/history-js/
- https://www.gittip.com/for/docpad/

[2014-05-03 03:15] balupton opened #13 "Geolocating our Community"
Would be really cool to show our members across the globe for the purpose of organizing in-person distributed hackathons every fortnight #11

I've created https://github.com/bevry/meta/blob/master/community.geojson however I think we could probably automate this by scanning the GitHub API which we already do for the new bevry website, but we could take this further by fulling automating this.

Wit

[2014-05-03 05:49] ahdinosaur commented on #13
i really like the idea of mapping our network. :)

i made a basic interface for viewing the Bevry `community.geojson` file at [dinosaur.is/community](http://dinosaur.is/community). source is [here](https://github.com/ahdinosaur/community). it needs lots of work, but it's a good start using [leafletjs](http://leafletjs.com/). the next steps are to have it use the remote `community.geojson` file (ha

[2014-05-03 09:48] balupton commented on #13
Sweet, if we combine your rendering solution with https://gist.github.com/balupton/9187991c53d801f654e3 then we'll have a complete solution.

Note that gist needs some work, currently improving it.

[2014-05-03 15:30] Naatan commented on #3
Might it make sense to offer reward tiers to high funders? Not for myself (I assist as an individual and will therefore not be a high funder), but for enterprises that might make use of your services or value the idea behind them.

For example you could have "Gold Funders" which would be featured on certain areas of your website/repositories. Whilst "Silver Funders" would only be featured in a rea

[2014-05-03 18:26] balupton commented on #13
Got the awesomeness going. Say hello to [chainy](https://github.com/bevry/chainy/blob/master/chainy.coffee). Will do release it properly tomorrow.

[2014-05-04 00:16] ahdinosaur commented on #13
awesome!

i updated the [map](http://dinosaur.is/community/) and started [geojson-mapify](https://www.npmjs.org/package/geojson-mapify).

it would probably be best for this to be a Web Component, right?

[2014-05-04 05:03] balupton commented on #3
DocPad v6.64.3 now includes a donation plea as a notice in the welcome messages

[2014-05-04 05:05] balupton commented on #3
@Naatan definitely an option I'm exploring, do you know any SAAS services that makes this really easy?

[2014-05-05 15:16] Naatan commented on #3
Not that I'm aware of, but it wouldn't be too hard to track high funders.. unless you get a LOT of them - in which case that would be a nice problem to have right .. ? ;)

[2014-05-06 17:57] mikeumus commented on #12
We should do some brain-dumps this week leading to the hackathon.

[2014-05-06 18:29] greduan commented on #12
I was thinking the same. :)

[2014-05-06 19:30] balupton commented on #11
This is when everyone goes woop woop woop!

Bevry Hackathon 1: Website Refresh event is now up:
https://plus.google.com/b/100631142988286661025/events/cpojta47o4g75g08vn3bm2olj0k

Big thanks to @mikeumus for putting this together!

[2014-05-29 12:56] balupton commented on #3
So I got some work with Prismatik/Thinkmill/Keystone 2 weeks ago, and hopefully that will remain active. Will close this for now as the urgency of the situation has subsided. Will re-open again if the donations are not enough and I am in need of work. Please keep the donations up, as that is still the only way of funding bevry's FOSS initiatives.

[2014-05-29 16:10] mikeumus commented on #3
Congratz on the new gig @thinkmill Ben! :smiley:

[2014-08-07 20:53] balupton commented on #3
Work is edgy right now, as Prismatik ran out of work for me. So currently doing small jobs here and there.

I'm re-opening this issue, not just because I need money, but because I have two new plans that seem viable:
1. Set up a bevry school — bevry/school — will start off with 1 day trainings once a month
2. Sponsorship of 15 companies that depend on our stuff each donating $100/week on Gittip —

[2014-08-07 21:02] Naatan commented on #3
Can you expand on sponsorships? Would love to pitch for you but need more than just the word "sponsorship" ;)

[2014-08-08 05:44] balupton commented on #3
Yep! Working on doing up a proper page, pitch, and other supporting documentation for it.

[2014-08-08 10:53] balupton commented on #3
@Naatan here's the idea of the sponsorship in more details: https://github.com/gittip/www.gittip.com/issues/2621

Is this a good idea? Keen to get your feedback on that issue. As I'm aiming to pull an all-nighter tonight to see if it can.

[2014-09-03 00:49] balupton opened #15 "Move everything to GitLab"
Why?
- Follow our libre values
- Increase diversity of the playing field to prevent monopoly side-effects which are currently evident in github e.g.
  - staticsitegenerators.net only supports github
  - people use the argument, everyone is already on github — which spirals the issue further
  - we use github for things we probably shouldn't be using github for, i.e. support, discussions, etc.
- In

[2014-09-03 01:32] balupton opened #16 "Consider license change"
I think it's time that we stop closed proprietors from shitting on our face.

Currently the MIT license allows everyone to take, however, only those aligned with free culture give back. The rest just take.

Considering this, I'm putting forward the following:
- If you are using Bevry software to build libre software, you may use it for free
- If you are using Bevry software to build non-libre soft

[2014-09-03 01:50] balupton opened #17 "Move only to free and better yet, libre software"
It should be essential that our stack runs on free software, and better yet, libre software.

Currently, we use the following paid software:
- Zapier for synchronisation tasks
  - Could be replaced by a chainy-based bevry/helper-service
- Sketch for OSX
  - I've emailed them about providing free licenses for open-sourcers, but haven't got any response

Currently, we use the following free software

[2014-09-03 03:10] mikeumus commented on #17
I think @ahdinosaur may have some good insights here.

[2014-09-03 04:05] ahdinosaur commented on #17
thanks for the mention @mikeumus, watching the repo now.

where do we want to focus first?

i can help with migrating personal machines to linux, but that's more of a personal experience based on how you want to interact with your daily computer. i recommend we try to leverage Docker to host our sites and manage our DNS, if given more details i can help more, if given access to a cloud machine i c

[2014-09-03 04:11] mikeumus commented on #17
I'm willing to go in financially on Interconnect as well. And as you touched on hosting DinoMike, I think running our own recycled machines on solar would be the pinnacle of principle alignment with what we're trying to do and we could probably do this with a small budget for our staging/development servers at least. #2cents

However there are trade offs for everything. How practical/efficient usi

[2014-09-03 04:29] ahdinosaur commented on #17
@mikeumus that's a great idea. :thumbsup:  first step, do we have a location for running our own recycled machines on solar?

[2014-09-03 05:07] mikeumus commented on #17
I have a couple machines and I have to learn more about SolarCity, but yeah in my garage as an option.

[2014-09-03 08:06] ahdinosaur commented on #17
sweet, that works with me. if we want to do something now while we don't have actual solar panels running the machines, we can do something similar to [Electric Embers](http://electricembers.coop/about-us/why-choose-us/) and purchase carbon offsets from [Native Energy](http://www.nativeenergy.com/how-carbon-offsets-work.html). also, if you do want to install solar panels, SolarCity is not your onl

[2014-09-03 08:34] mikeumus commented on #17
The software can be libre but it's the electricity really that we care about here (for hosting/servers) as linux web hosting servers are already free (Ben and I are chatting about this, in a way). I will call SolarCity tomorrow and fallback to others as you pointed out. What's a good version of linux I should attempt on these power machines from early 2006 ?

[2014-09-03 13:33] greduan commented on #17
A replacement for OS X is obviously Linux, I use Arch Linux, I would encourage you guys to try that out but I don't think you guys would be willing to spend a day learning how to install a Linux distro. lol

In all seriousness though, old computers would benefit the most from Gentoo probably, but that is not something for mere mortals to automatically install. lol

I remember there was a distro sp

[2014-09-03 14:45] balupton commented on #3
@bevry/bevry-core-team what are people's thoughts on doing a crowd-funding campaign for Interconnect? I keep coming back to it, and the more I realise about crowd-funding, the more I realise it could be possible, even without any proper marketing for it.

[2014-09-03 14:59] greduan commented on #3
I do think it could work really well. It really has to be brought to the attention of big devs and everything will work out fine. :)

Good marketing helps a lot though. ;)

[2014-09-03 15:02] greduan commented on #16
Although I like this idea it sorta feels cheap. That's just because of my own values though.

We also have to talk about how much people would have to give us with the monthly subscription...

[2014-09-03 15:06] greduan commented on #15
I do agree switching to GitLab is a good idea.

[2014-09-03 18:44] ahdinosaur commented on #17
since Gentoo requires compiling all packages, it is a bad idea for old computers as compiling takes forever. Gentoo only works if you have a farm of machines that can compile once for all of them.

i'd recommend we use either Debian or Arch Linux, that way we can build our infrastructure regardless of if it's on old or new machines. i personally use Debian for all my machines now, but that's a per

[2014-09-03 18:46] ahdinosaur commented on #3
+1 to crowd-funding campaign for Interconnect. there's little to lose, a lot to gain.

[2014-09-03 18:53] greduan commented on #17
Fair point, but, since it's compiled specifically for that hardware it's quicker. :)

The compiling sucks, but the results are cool.

[2014-09-03 21:16] balupton commented on #17
I hear this argument for specific builds for old machines a lot. Having tried many, including the lubuntu etc, their usability is a real compromise, and I'm not sure there is much to win over the mainstream Ubuntu build.

[2014-09-03 21:35] greduan commented on #17
Well I mean, this is not really something for me to discuss since I'm already full-time on Linux. But I wouldn't suggest Ubuntu to anyone. Whether they are beginners or not.

So you guys go with whatever you guys like, but I'll only recommend and "support" Arch. :)

[2014-09-03 21:53] ahdinosaur commented on #17
my understand is that these old machines would be headless, so they don't need a graphical user interface. for our personal machines that do need a graphical user interface, presumably they have enough power for our favorite desktop environments, based on our own opinions of usability. we can run headless servers or our favorite desktop environment using Debian or Arch Linux, they are flexible for

[2014-09-03 22:28] balupton commented on #17
For what it's worth, the server and backend architecture is something I'm happy to 100% delegate to someone else who knows better than me! Leaving myself completely void of opinion if delegated :)

[2014-09-03 22:36] greduan commented on #17
Oh we were talking about servers? In that case I wouldn't use Arch Linux. I would use something Debian, so Ubuntu is fine.

I was talking from the perspective of the environment that we'll install in our laptops.

[2014-09-05 06:23] balupton opened #18 "Fund Interconnect"
@ahdinosaur as you're part of enspiral which had a successful crowd-funding campaign for Loomio, I'm happy to make you the go to person for this.

[2014-09-05 06:26] balupton commented on #3
Cool, moving interconnect funding campaign to https://github.com/bevry/meta/issues/18

[2014-09-05 06:28] ahdinosaur commented on #18
@balupton, how much funding do you need to produce an alpha version of Interconnect that can be used by Bevry and Enspiral?

[2014-09-05 06:31] balupton opened #19 "Team rejig"
Hey @bevry and @docpad I've rejigged the teams a bit.
- DocPad is now part of the DocPad GitHub Organisation https://github.com/docpad/docpad/issues/833
- Documentation teams are now Meta teams, having access to the meta repo
- Helpers team is now Extras Team
- @ahdinosaur has been added to the DocPad and Bevry meta teams

[2014-09-05 06:33] #19 closed, assigned to nobody

[2014-09-05 11:39] balupton commented on #18
@ahdinosaur's feedback is we need a roadmap for what price will accomplish what features

[2014-09-05 11:44] balupton commented on #15
@gitlabhq if we postulate that moving all of bevry's projects to gitlab creates a snowball of other projects and communities doing the same, is @gitlabhq ready for such a thing? does it wish for such a thing?

Is it beneficial for you/gitlab to have github incur the loss of hosting open-source projects? Or would you like to incur that cost for the benefits of exposure, feedback, and statistics?

A

[2014-09-05 13:22] greduan commented on #15
We can ask GitLab no? :)
Get in contact with them if you like. These questions are best answered by them. :)

[2014-09-05 13:23] greduan commented on #19
OK cool. Thanks for letting us know. :)

[2014-09-05 14:03] balupton commented on #15
@Greduan ... I believe the @ of them should notify them... no?

[2014-09-05 14:48] greduan commented on #15
Maybe? From my experience @mentioning an org doesn't work. Only mentioning a group inside an org. But you can still try. :)

[2014-09-05 14:57] greduan commented on #15
I'll just do it for you in order to test. :)

@gitlabhq, if you guys are notified, sorry for bothering you guys. :)

We just have a question, check above for what that question is.

This is an experiment as I believe orgs don't get notified of mentions but I thought I would test it.

[2014-09-05 15:27] balupton commented on #15
@Greduan good catch on the username thing, I've updated my original post.

I've also pinged them on twitter just in case: https://twitter.com/balupton/status/507912394924756992

[2014-09-07 13:54] dosire commented on #15
Thanks for the ping on Twitter! As I'm the CEO of GitLab B.V. (running GitLab.com) I'll respond.
1. Are ready for such a thing?

As ready as we'll ever be. If there are any performance problems we'll fix them but I don't expect any.
1. Does it wish for such a thing?

Yes, very much. We would like everyone to know what GitLab offers and moving your project to GitLab.com would expose many more peopl

[2014-09-07 14:19] greduan commented on #15
Awesome! :D Thanks for your answer @dosire. :)

So we can move when we're ready I guess @balupton.

Is your idea to move everything to GitLab now or would you prefer to start by hosting the new DocPad on GitLab and then move other stuff later on?

[2014-09-07 14:31] dosire commented on #15
@Greduan You're very welcome, let me know if you have any other questions.

[2014-09-07 14:36] greduan commented on #15
Will do. :)

[2014-09-07 14:47] greduan opened #20 "Blog"
@bevry/meta-team

We need a blog. We've discussed this before but I don't think a consensus was reached about where to host the blog and with what it would be done.

I was reminded of this because @balupton said on this issue https://github.com/bevry/meta/issues/15 in the todo section:

And I realized a blog hasn't been made yet.

So we gotta make one.

My vote still remains the same, use a static

[2014-09-07 15:25] balupton commented on #20
There's a blog: http://bevryme.tumblr.com/

We accomplished it on our hackday.

Post-this, we decided to scratch it, and just use medium instead. Of which we have one there too :-) https://medium.com/bevry-me

We should evaluate svbtle as well, as they have a good branding system.

[2014-09-07 16:19] greduan commented on #20
Ah OK.

Cool. I guess we're going to use the Medium one? I still think self-hosted is best though. ;)

[2014-09-11 12:13] balupton commented on #15
I'm satisfied. All that needs to do now is develop the necessary scripts for the migration.

Love to do this as a Chainy script. @Greduan — want to take a stab at this using chainy?

[2014-09-11 12:24] balupton commented on #15
One thing that should definitely be stated, is that this move will nosedive our GitHub contribution activity. Considering it is a vanity metric, I'm not too concerned, it may actually be beneficial on some levels — while being detrimental on some.

[2014-09-11 12:39] balupton commented on #18
Meeting scheduled between @balupton and @ahdinosaur open to others here:
https://plus.google.com/b/100631142988286661025/events/c65ccvk8pgvp9i81404h0h6em88

[2014-09-11 12:39] balupton commented on #1
Next hangout on air is scheduled. Details:
https://github.com/bevry/meta/issues/18#issuecomment-55257577

[2014-09-11 12:44] greduan commented on #18
Woo voice chat. :D

Since it's at 9PM I won't be able to stay for _too_ long but I'll do my best to stay the longest I can. :)

[2014-09-11 13:25] greduan commented on #15
Well I did get some experience with Chainy when I made download-gist but I'm not sure what needs to be done...

I'll look into it. Basically just a script to move the GitHub repos to GitLab.

[2014-09-11 13:30] greduan commented on #15
Should I register an account for Bevry and DocPad and such or would you like to handle that? Also would we host it ourselves or would it be on GitLab.com?

[2014-09-11 14:17] greduan commented on #15
Found this: http://doc.gitlab.com/ce/raketasks/import.html

Looks like it's already automated for us... I'll test this with my own repos, hopefully today.

[2014-09-11 14:30] greduan commented on #15
Oh wait, that's for self-hosted stuff not for the public GitLab.com instance. So I guess I can make a script but first, will we self-host or not?

DigitalOcean has a pre-prepared image with GitLab installed in it.

[2014-09-11 15:34] balupton commented on #15
@Greduan let's not self-host, the less fragmentation the better.

Perhaps GitLab can help us? @dosire does GitLab have any migration tools for migrating all our repos to GitLab, or is that something we should create? Also, congratulations on GitLab, you and your team have done a very great job. Well done :-)

[2014-09-11 15:36] balupton commented on #18
Awesome, great to have you join us @Greduan :-)

[2014-09-11 15:37] balupton commented on #19
I've added the other DocPad meta members to the Bevry Meta team too. Welcome @hal-gh @zearin

[2014-09-11 15:39] balupton commented on #19
@hal-gh seems you denied the invitation?

[2014-09-11 16:50] Zearin commented on #15
(Just found this thread; sorry for the late reply!)

I disagree.  When a field is as dominated by one player as OSS development is dominated by GitHub, it is extremely hard to break that hold.

For example: Facebook dominates social media.  Within Facebook, there are several organizations, many of which are reasonably sized, and which do good work.  Now…suppose one of those organizations left Face

[2014-09-11 16:57] greduan commented on #15
Those are some very good points you make @Zearin.

I personally believe that it will create s lightly larger snowball effect than with Facebook and Twitter, mostly because developers are in average much more aware of privacy and open source and the benefits of open source, etc.

Diaspora and Identica didn't have nearly as much success as the originals but one must realize that 99% of the people us

[2014-09-11 17:27] Zearin commented on #15
In the end, it won’t matter.

It’s true that a tech-savvy audience will have a little more success than a general audience, but not much.

I don’t have figures for this, but anecdotally, I’ve observed that most of the users in those “benevolent alternatives” to mainstream social networking sites _are_ techies.  But are all techies on those sites?  No?  Not even a majority?

Social capital.

But mo

[2014-09-11 19:58] ahdinosaur commented on #15
as much as i distaste closed centralized systems, i have to agree with @Zearin. in terms of our open network and our social mission, i think we will lose more than we gain by moving to GitLab. i think we are better off supporting the next generation of social coding tools to be decentralized and open source.

[2014-09-11 20:11] ahdinosaur commented on #16
i propose a different license (maybe possible to fork the [Peer Production License](http://p2pfoundation.net/Peer_Production_License)):
- If you are using Bevry software to build libre software, you may use it for free
- If you are a Bevry contributor, you may use it for free
- If you are using Bevry software to build any non-libre software and are not a Bevry contributor, you must share a percent

[2014-09-11 20:29] greduan commented on #16
That looks like a good proposition as well.

[2014-09-11 21:12] pflannery commented on #16
@balupton I understand how you feel about this and I agree that some people are just p-takers.

For my own projects current and future I intend to stick with MIT license as I'm happy for all people to use my software regardless. I share my work for free for anyone to use and don't expect anything in return. Every person\org that uses my software is a reward\satisfaction to me if they do, and if no

[2014-09-11 21:27] pflannery commented on #1
Can't make this as it will be 3am here in London. I will replay ;)

[2014-09-11 21:39] greduan commented on #16
I think the idea is to charge because it's proprietary software instead of free software.

I say just leave them be, since I really like the ISC license. I would vote for an ISC license if a vote is opened for this.

[2014-09-11 22:43] ahdinosaur commented on #16
the idea is to charge those who don't already contribute back to the commons, as otherwise their success can be _at the expense of_ and _detrimental to_ the commons. as workers for [commons-based peer production](http://p2pfoundation.net/Category:Peerproduction), we want to prevent others who don't share our values from profiting off of our labor. a good example of corporate profit on the backs of

[2014-09-11 23:40] greduan commented on #16
I see.

We can always go the extreme route and go with GPL...

In any case, we can talk about this in a voice chat where it's live. :)

[2014-09-12 02:16] greduan commented on #18
It is time...

[2014-09-12 02:21] ahdinosaur commented on #18
i'm ready to go. where is @balupton? also is there a link to the hangout?

[2014-09-12 03:42] balupton commented on #18
I slept in.... :O To think I made an event and everything, but forgot to set an alarm. Sorry everyone, will reschedule for later today.

[2014-09-12 03:49] balupton commented on #16
@pflannery the issue was pretty much nailed by @ahdinosaur but to paraphrase a bit, sure it's all and well having people use our stuff, the problem though is usually non-libre people give back whereas non-libre people don't, so each support request they do, each feature request they do, each complaint they do, is an issue — as a product becomes more popular, the costs of maintenance increase expon

[2014-09-12 04:10] balupton commented on #15
There's quite a jump between lack of contributors to a project dying. A project dies when people no longer have use for it.

---

@Zearin for the most part I agree with you, I had the same fears, however recently they've dissipated themselves.

There's a resurgence forming in my opinion, where people are uncomfortable using a closed-sourced tool to develop their open-source tools, as well as placi

[2014-09-12 06:57] ahdinosaur commented on #15
hmm, you're probably right @balupton, i need to think about this more. is there a middle ground where we move some projects but not all? i'm keen to develop new projects like Interconnect on GitLab.

[2014-09-12 08:53] pflannery commented on #16
@balupton what do you define as contribution?

[2014-09-12 09:47] balupton commented on #16
@pflannery pull request saving us time, or financial donation buying us time

[2014-09-12 10:09] pflannery commented on #16
@balupton fair enough. how about promotion and the sort?

I definitely don't like the idea that someone could fork your project, close it's source and sell it off without giving anything back. I equally don't like the idea of contributing to a project that then closes it's source to make profit without giving back to the contributors.

I've been looking at a [Non profit license](http://opensource.

[2014-09-12 10:13] balupton commented on #18
this https://twitter.com/dotjs/status/510358228358922240

[2014-09-12 22:41] ahdinosaur commented on #16
i define 'contributor' slightly different than 'one who provides contributions' according to @balupton's definition of 'contribution'. i see contributors as the "worker-owners" of the project, so to become a contributor it's not enough to get a pull request merged (in services like [tip4commit](https://tip4commit.com/) we see people trying to push many minor pull requests so they can get tips), yo

[2014-09-12 23:34] balupton commented on #18
https://plus.google.com/hangouts/_/hoaevent/AP36tYcmSRiCIlUatu_WPPKazjgI3IuMo3oibN4NwjYjg-B-e7xmmg

[2014-09-12 23:41] balupton commented on #18
https://hackpad.com/interconnect-A9FAE0A0HYT

[2014-10-22 13:15] bhaugen commented on #16
What if work contributions went only for solving team-defined issues, and each issue gets a credit rating up front? This was the way BetterMeans did it, and it made sense to me. (Although BM died ugly, I don't think that is why they self-destructed.)

[2014-11-11 05:22] balupton commented on #15
@dosire after consideration, this move only makes sense for new repos at this time. For existing repos it only makes sense if GitLab provides a import utility to mass import individual and organisation repositories including branches, issues, wiki, and team members - then update the github repo with a redirect page. You have my commitment that I will move all my personal projects over to GitLab if

[2014-11-14 13:43] greduan commented on #15
@balupton I agree with you. It makes sense for new repos only. At least to make it a nicer transition for users.

It seems you _can_ import repos:

![2014-11-14-074110_1280x800_scrot](https://cloud.githubusercontent.com/assets/2314074/5046588/dc409778-6bd1-11e4-8a36-70c0b193036e.png)

[2014-12-01 15:26] dosire commented on #15
@balupton We're working on making the importer better (includes issues, etc.) and any contributions are of course welcome.

[2014-12-17 04:27] balupton opened #21 "Redo all DocPad branding as "dynamic static-site generator""
No more "next-generation web architecture" nonsense.

/cc @bevry/meta-team - let's get this done immediately. If you see any old-school marketing, feel free to change it immediately without approval.

[2014-12-17 04:47] mikeumus commented on #21
Concur. Thanks for the green light.  :traffic_light: :+1:

[2014-12-17 13:53] greduan commented on #21
Will do.

[2014-12-17 15:55] greduan commented on #21
@balupton Changes that you asked for: https://github.com/docpad/documentation/commit/eba3d97cea66a0d8e4a833a032a5b72898e79853

Could you confirm that looks good?

[2014-12-17 15:56] balupton commented on #21
+1

[2014-12-17 15:59] greduan commented on #21
Awesome. :)

[2015-01-15 21:03] mikeumus commented on #10
I have a Discourse droplet saved in DigitalOcean. One for Bevry and one for DocPad, ready to go! :traffic_light:

[2015-01-15 21:05] mikeumus opened #22 "Telegram Group"
We have setup two internal focused Telegram Groups for communications. One for water cooler conversation, and one for team communication. Telegram is a cross-platform, fast, secure, instant messenger, and for the most part, open-source.

[2015-01-15 22:07] greduan commented on #10
:+1: :smile:

[2015-01-15 22:10] Greduan commented on #22
Telegram does look quite nice. I wonder how it would compare to Slack, maybe I can convince some people to switch. :smiling_imp:

[2015-01-15 22:29] Greduan commented on #22
Although...

![2015-01-15-162546_1280x800_scrot](https://cloud.githubusercontent.com/assets/2314074/5768110/67b992a0-9cd3-11e4-884b-7bb52bc79c3d.png)

I am not comfortable with providing that info, I wonder if that can be avoided...

Just to make sure, do I need a mobile device for this? Hope not...

[2015-01-15 22:37] mikeumus commented on #22
They do it just to send you an SMS to verify that you are a human. And they
have a web interface to chat from as well that is pretty nice.

Mike
On Jan 15, 2015 5:29 PM, "Eduán" <notifications@github.com> wrote:

[2015-01-15 22:53] Greduan commented on #22
I see. And that's just once or is it every time?

[2015-01-15 22:54] mikeumus commented on #22
Just once for account setup.
 On Jan 15, 2015 5:53 PM, "Eduán" <notifications@github.com> wrote:

[2015-01-15 23:27] Greduan commented on #22
Ah OK. Cool. I gotta ask somebody to help me out cause I don't have a cellphone. :P

[2015-01-16 00:42] Greduan commented on #22
OK, I've got an account. My username is `greduan`. What next?

[2015-01-16 06:38] mikeumus commented on #22
:mega: :fax: :speaker:

[2015-02-19 12:49] mikeumus commented on #10
@ahdinosaur, DinoMike... rumor has it that you have DO credits on deck... @balupton is ready now to point the DNS for discuss.bevry.me, what say you? I can transfer the snapshot of the Bevry Discourse I setup this summer.

[2015-02-20 21:51] mikeumus commented on #22
@ahdinosaur @RobLoach, so much fun in the telegram Bevry room. We miss you guys in here. ... :cry:

:dancer: :tada: :beers:

[2015-02-20 21:55] balupton commented on #22
I got an email from @RobLoach saying he'll join us in Telegram, but no dice yet! Hopefully soon!

For those who want in: http://telegram.me/balupton

[2015-02-23 00:49] ahdinosaur commented on #10
@mikeumus yup yup, transfer the image to me, let me know what size the image is for, and i'll boot it up and send you the deets. i'm gonna send you an email in regards to this.

[2015-02-23 00:53] ahdinosaur commented on #22
... eep, i got chat platform fatigue, but i'll try to join at some point.

[2015-02-23 21:10] mikeumus commented on #10
Thanks @ahdinosaur, all transferred. The guide I read on Discourse.org Meta at the time recommended the 1 GB/2nd tier droplet option.

[2015-03-05 00:53] balupton opened #23 "Libreboard"
We have setup a public board for the current focus on the Bevry team:
http://libreboard.com/boards/PWYJvatG6fof9YRrZ/bevry-focus

Happy to add other core and extras team members to the board, just provide your Libreboard username in a comment below and I will add you.

[2015-03-05 00:58] balupton commented on #22
Updated the original post copy for the latest status. @ahdinosaur would be good to get you in there.

[2015-03-05 01:01] balupton opened #24 "1Password Vault"
The Bevry Management Team now shares a 1Password vault between its members. This will allow some redundancy in the case of an event if one of the team members is unavailable. E.g. restarting a web server, or posting twitter updates, etc.

[2015-03-05 01:04] balupton commented on #16
Closing for now. I suspect the issue is more due to the difficulty and lack of transparency around our support and sponsorship packages. We should try to improve the workflow of people giving us money first, before we do such a radical change as changing license.

[2015-03-05 01:04] #16 closed, assigned to nobody

[2015-03-05 01:06] balupton commented on #20
Perhaps an official communications forum on Discourse will solve this:
https://github.com/bevry/meta/issues/10

[2015-03-05 01:08] balupton commented on #11
Putting it on the backburner for now, we need to build a stronger and tighter community first before we start doing hackathons.

[2015-03-05 01:08] #11 closed, assigned to nobody

[2015-03-05 01:13] balupton commented on #3
Closing due to age.

[2015-03-05 01:13] #3 closed, assigned to nobody

[2015-03-05 01:14] balupton commented on #4
Completed: https://github.com/bevry/meta/issues/23

[2015-03-05 01:14] #4 closed, assigned to nobody

[2015-03-05 04:50] balupton commented on #18
Putting this on the backburner, as our focus is with DocPad for the next 6 months.

[2015-03-05 04:50] #18 closed, assigned to nobody

[2015-03-05 04:52] balupton commented on #12
Putting this on hold until our community is stronger.

[2015-03-05 04:52] #12 closed, assigned to nobody

[2015-03-05 05:03] balupton opened #25 "Pull Requests & Issues"
Dear @bevry/extras-team

We have a large backlog of issues and pull requests to go through, merge, and release. If you are able, any help would be appreciated with the following:
- Bevry
  - [Pull Requests](https://github.com/pulls?user=bevry)
  - [Issues](https://github.com/issues?user=bevry)
- DocPad
  - [Pull Requests](https://github.com/pulls?user=docpad)
  - [Issues](https://github.com/issues

[2015-03-05 05:08] balupton opened #26 "Knowledge Base?"
Would transitioning our knowledge base like issues to either a wiki, or a proper knowledge base make sense?

[2015-03-05 05:15] mikeumus commented on #26
Like GitHub issues that answer questions or issues that are bugs, or both?

On Thu, Mar 5, 2015, 12:08 AM Benjamin Lupton notifications@github.com
wrote:

[2015-03-05 05:17] balupton commented on #26
I was thinking either a discourse forum, github wiki, or confluence, or just migrating those topics to bevry/learn. The issue is the sacrifice of commenting, which is valuable. It's a trivial/low priority issue, but would be good to get some feedback.

[2015-03-05 05:22] mikeumus commented on #26
Pardon my question was to what we'd be transferring from GitHub exactly.
DinoMike already has a droplet live for us to setup Discourse on, just gotta SSH in and do that. I'll add that to my Lifeboard and do it tomorrow.

[2015-03-05 05:26] balupton commented on #26
Pretty much these issues: https://github.com/bevry/meta/labels/team%20%2F%20community

[2015-03-05 05:38] mikeumus commented on #26
Definitely Discourse gets my vote for this then. We'll be setting it up anyways, the less tools the easier, and having a Discourse forum is a good look on the community allowing for non-code/bug related issues to be better discussed outside of GitHub.com

[2015-03-05 06:44] balupton opened #27 "Keeping DocPad Plugins up to date"
Hey @docpad/extras-team

I need your help in keeping plugin dependencies up to date.

First we will need to setup a development copy of DocPad:

[code]

Then we can setup the extras project:

[code]

Then we can find out which plugin deps are out of date by running:

[code]

It will then produce output like:

[code]

Which can be acted upon. Ideally we will have people familiar with the particular

[2015-03-05 06:59] mikeumus commented on #27
Roger that.

On Thu, Mar 5, 2015, 1:44 AM Benjamin Lupton notifications@github.com
wrote:

[2015-03-05 07:01] balupton commented on #27
I'll take any that need taskgroup updated.

[2015-03-05 17:44] greduan commented on #27
We could also automate this process if we find or make the right tools :)

[2015-03-05 17:45] greduan commented on #26
I do think it makes sense. But I feel like a wiki would work better than Discourse, which is a platform to communicate.

I do think Discourse should be our support/help platform though.

[2015-03-05 17:47] mikeumus commented on #27
Good idea, but for now it needs to get done.

[2015-03-05 17:48] greduan commented on #20
Again, while I do believe Discourse is great for communication, I don't feel like it's the best place for announcements and stuff. Same for Medium.

I still believe docpad.com should be or have a blog. Or do it like Arch Linux or other such distros which have the news right in the front page.

The website can be very simple but effective http://www.voidlinux.eu/

[2015-03-05 17:49] mikeumus commented on #26
The things Ben linked to are community discussions though... :stuck_out_tongue:
The 1password thread could be in the private admins section of the Bevry Discourse.

[2015-03-05 17:53] mikeumus commented on #20
Yeah I think we need an official blog as well. You can mod Discourse so
that tagged threads show up on a blog page on the site.

On Thu, Mar 5, 2015, 12:48 PM Eduán notifications@github.com wrote:

[2015-03-05 18:55] greduan commented on #26
Well if we're talking about discussions, then yeah. But If it's for a knowledge base, wiki it is. :)

[2015-03-06 01:07] mikeumus commented on #27
getting this:

[code]

:blush:

[2015-03-18 16:52] mikeumus commented on #10
Planning as we more towards using Discourse only
(official issues get added to github by core members only is the idea in the doc below):
- https://hackpad.com/Discourse-Planning-yuSIfCtt8sz

[2015-03-19 06:03] BevryMe commented on #10
@ahdinosaur here is my public key that apparently you need to add so I have access to the machine

[code]

[2015-03-19 06:43] balupton commented on #10
@ahdinosaur here is my iMac's public key that apparently you need to add so I have access to the machine:

[code]

[2015-03-20 01:58] ahdinosaur commented on #10
@balupton done. :beetle:

[2015-03-20 21:25] balupton commented on #10
@mikeumus @ahdinosaur

So following the SSL guide, it said to run: ./launcher rebuild app

So now SSL works, but the discourse website is completely empty... any ideas how we can restore the posts and categories and settings?

It's not that big of a deal, we only had 4 or so topics that were new... However, we should put procedures in place to prevent this in the future. As well as giving the Bevr

[2015-03-20 21:27] balupton commented on #22
@ahdinosaur would be great to have on Telegram while we setup the discourse forum

[2015-03-21 13:17] balupton commented on #25
Moved to https://discuss.bevry.me/t/pull-requests-issues-backlog/33

[2015-03-21 13:17] #25 closed, assigned to nobody

[2015-03-21 13:19] balupton commented on #27
Moved to https://discuss.bevry.me/t/keeping-docpad-plugins-updated/34

[2015-03-21 13:19] #27 closed, assigned to nobody

[2015-03-21 13:21] #24 closed, assigned to nobody

[2015-03-21 13:23] balupton commented on #23
Migrated to: https://discuss.bevry.me/t/bevrys-focus-libreboard/36

[2015-03-21 13:23] #23 closed, assigned to nobody

[2015-03-21 13:23] balupton commented on #24
Migrated to: https://discuss.bevry.me/t/1password-vault/35

[2015-03-21 13:24] balupton commented on #22
Migrated to: https://discuss.bevry.me/t/telegram-chat-group/37

[2015-03-21 13:24] #22 closed, assigned to nobody

[2015-03-21 13:25] balupton commented on #10
Completed: https://discuss.bevry.me

[2015-03-21 13:25] #10 closed, assigned to mikeumus

[2015-03-21 13:27] balupton commented on #1
Migrated to: https://discuss.bevry.me/t/hangouts-on-air/38

[2015-03-21 13:27] #1 closed, assigned to nobody

[2015-03-21 16:06] balupton commented on #10
@ahdinosaur is there any way to get access to the digital ocean control panel for the droplet? or does that involve us sharing your digital ocean credentials? With Heroku multiple people can maintain a heroku app.

[2015-03-21 22:12] ahdinosaur commented on #10
@balupton i don't think so, why?

[2015-03-22 03:17] pflannery commented on #10
I can't register an account using my github account, I always get redirected to https://discuss.bevry.me/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%2Fv3%2Foauth%2F%23redirect-uri-mismatch&state=9cbe3e9469ed8cef42f31ed694e44dc1cc3771f8449e8a5d

It did work before the recent

[2015-03-22 04:45] balupton commented on #10
@pflannery try now

[2015-07-31 23:17] balupton commented on #10
@ahdinosaur what is the ip address for the discourse digital ocean droplet?

[2015-08-01 19:11] mikeumus commented on #10
@balupton It's 162.243.203.152 unless it changed unbeknownst to me.

[2015-08-03 05:23] balupton commented on #10
Hrmm, how do I configure the DNS correctly? Just tried pointing an A record to the IP address and doesn't seem to be working. Accidentally wiped the old working DNS configuration a few days ago.

[2015-08-12 03:33] balupton commented on #10
@mikeumus is 107.170.169.227 - all good now

[2015-08-12 03:35] mikeumus commented on #10
:smiley::+1:

[2015-09-05 12:46] balupton commented on #26
Discourse fulfills this.

[2015-09-05 12:46] #26 closed, assigned to nobody

[2015-09-05 12:46] balupton commented on #20
Up https://blog.bevry.me and https://blog.docpad.org

[2015-09-05 12:46] #20 closed, assigned to nobody

[2015-09-05 12:47] balupton commented on #17
This is to impractical.

[2015-09-05 12:47] #17 closed, assigned to nobody

[2015-11-01 20:08] ToniNN commented on #15
Still not possible to import projects with all metadata to Gitlab from Github?

[2015-11-05 03:24] dosire commented on #15
@ToniNN Repo's and issues are imported. PR's https://gitlab.com/gitlab-org/gitlab-ce/issues/2833 and wiki's https://gitlab.com/gitlab-org/gitlab-ce/issues/2834 are planned.

[2015-12-22 07:48] mikeumus commented on #10
Hey @ahdinosaur, @balupton is saying we need some SSH Keys added to be able to upgrade the Bevry Discourse. Ben can remind/add his key here after.

[2015-12-22 08:08] balupton commented on #10
Moved to https://discuss.bevry.me/t/forum-administration-consolidation/69?u=balupton

[2015-12-22 09:27] ahdinosaur commented on #10
ah true, @mikeumus can you add his key?

[code]

i've since updated keys, so would have to pull my old key from backup.

also btw @balupton, i don't have a partnership with Digital Ocean, they just gave me way too much free credit one time, something about being the 20,000th twitter follower of the customer evangelist...

[2015-12-22 11:22] balupton commented on #10
@mikeumus doesn't have access either

[2015-12-23 02:41] mikeumus commented on #10
Pardon @ahdinosaur, add that where exactly?
I have the IP of the droplet but couldn't find the SSH login creds, you could message them to me on the [Bevry Discourse Forum](https://discuss.bevry.me/t/forum-administration/69) if you happen to have it and I can setup a Cloud9 workspace for the droplet and run that command. My SSH key changed too. :sleepy:

[2016-01-19 17:29] RobLoach commented on #22
https://telegram.org/faq#q-why-not-open-source-everything

I'll be on IRC.

[2016-01-29 04:45] mikeumus commented on #10
Hey @ahdinosaur, just following up!

@balupton, @newspacenyc is now sponsored by DigitalOcean, maybe Bevry can be too and then We can create a [DO Team Account](https://www.digitalocean.com/community/tutorials/how-to-use-digitalocean-team-accounts) so we have control and not have to bug Dino so much. I can reach out to them on Bevry's behave for sponsorship if you'd like.

[2016-01-29 05:11] balupton commented on #10
@mikeumus

@ahdinosaur was able to add my key a few days ago, however for some reason it doesn't accept the key's passphrase... maybe a fault on my part, I'm not sure

@mikeumus +1 for the bevry team account, and DO sponsorship... how were you able to get sponsorship for newspaceNYC? As we would definitely want to do that. Does the sponsorship deal work with existing accounts, or only new accounts

[2016-01-29 05:45] balupton commented on #10
@mikeumus I've invited you and @ahdinosaur to a bevry team, on a bevry account of my creation, that has a $50 credit voucher applied - seems sponsorship path takes a while and needs to be planned

@ahdinosaur can you transfer the droplet to my account or the bevry team - will message you on slack with details

[2016-02-01 04:33] ahdinosaur commented on #10
snapshotted an image, then initiated the transfer. :gift: keep in mind, any new content will be lost after the transfer is complete, so lemme know if i should turn the server off for now.

[2016-02-01 16:34] balupton commented on #10
@ahdinosaur all done, thanks for your help

[2016-02-25 07:10] balupton commented on #10
Repo for the configuration and maintenance of the forum is here:
https://gitlab.com/bevry/discourse (private repo)

Instructions are on its wiki:
https://gitlab.com/bevry/discourse/wikis/home

[2017-01-23 22:52] balupton commented on #13
just discovered I never posted the result from the chainyjs solution, here it is http://code.runnable.com/U6ichlSIeJ8quen5/create-a-geojson-file-for-your-github-communities-for-node-js-and-chainyjs

[2018-06-22 09:00] balupton opened #28 "Enabling 2FA on all bevry organisation members"
On one of the organisations I am part of (not bevry related) had a member account compromised by what seems like a malicious script. I would like to take precautions to protect the bevry ecosystem (which has millions of downloads a month).

As such, I wish to enable the [GitHub feature that requires all organisation members to have 2FA enabled](https://help.github.com/articles/requiring-two-factor

[2018-06-22 20:15] jaspervdj commented on #28
I am only involved in @bevry because I was the original maintainer of the static site generators list.  I'd like to step down since I'm not actively involved anymore and I don't need access to any of the repositories.  :-)

[2018-06-23 21:03] dertuxmalwieder commented on #28
As if that would make that much of a difference...

Enabled 2FA anyway - it might be handy after all.

[2018-06-23 21:55] balupton commented on #28
From a scripts perspective, it no longer allows username/password combinations - only personal access tokens, which are less likely to be reused across services and logged by malware, and which help identify where the compromise occurred.

cheers

---

no worries :-)

[2018-07-04 10:33] balupton commented on #28
Thanks everyone who enabled 2FA. Hope to see the others again at some point.

Removed everyone's usernames from the original post now that the deadline has passed.

[2018-07-04 10:33] #28 closed, assigned to nobody

[2019-01-01 06:55] balupton commented on #13
Closing.

Bevry meta discussions should now occur at https://discuss.bevry.me

For this issue, we should move away from the notion of a community, and move towards the notion of initiatives.

[2019-01-01 06:55] #13 closed, assigned to nobody

[2019-01-01 06:56] balupton commented on #8
Closing.

Bevry meta discussions should now occur at https://discuss.bevry.me

For this issue, Bevry is pretty just me, so no need for it.

[2019-01-01 06:56] #8 closed, assigned to mikeumus